<table>
	<% var i; for(i=0; i<quizes.length; i++){ %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>

<br>
<br>
<p>

<form method="get" action="/quizes">
	Buscador de preguntas
	<br> <h6>(vacio muestra todas)</h6>
	<br>
	<input type="text" name="search" value=""/>
	<input type="submit" value="Search">
</form>
</p>
